/* SECTION */
.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    width: 100vw;
    container-type: inline-size;

    position: relative;
}

/* SECTION FIRST DIV */
.mainText {
    font-family: var(--font-2);
    font-size: 1.5rem;
    color: var(--color-4);
    text-align: center;

    margin-right: 4rem;

    position: relative;
}

.mainText div{
    position: absolute;
    right: 1rem;
}


/* SECTION SECOND DIV */
.mainCta {
    font-family: var(--font-1);
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-4);

    margin-top: 2rem;

    position: relative;
}

.text--1, .text--2 {
    display: flex;
    justify-content: center;

    width: 30rem;
    margin: 0 auto;
    font-size: var(--size-1);
}

.text--1 {
    position: relative;
}

.bulb {
    position: absolute;
    top: -2rem;
    right: 5rem;
}


.mainCta p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.mainCta button {
    margin-bottom: 1rem;
}

.imgContainer {
    position: relative;
}

.imgContainer img {
    width: 100%;
    border-bottom: .1rem solid #333;
}


/* MEDIA QUERY */
/* min-width: 56.25rem 900px */
@media (min-width: 56.25rem) { /* 900px */
    .mainText {
        position: relative;
        top: 1rem;
        right: -20%;

        font-size: var(--size-1);
    }

    .mainCta {
        align-self: center;
        width: 50%;
    }

    .bulb {
        top: -2rem;
        right: 35%;
    }

    .content {
        display: flex;
        padding: 0 4rem 0 4rem;
    }
}

/* @media (min-width: 67.13rem) {  1074px
    .text--1 {
        font-size: var(--size-2);
        width: 100%;
    }

    .text--2 {
        font-size: var(--size-2);
        width: 100%;
    }

    .mainCta p {
        font-size: var(--size-2);
    }
} */