.star--1, .star--2 {
    border: 0 solid #DCFFFF;
    border-radius: 50%;
    box-shadow: inset -1rem -1rem 5rem #DCFFFF;
    height: 2rem;
    width: 2rem;
    filter: blur(.5rem);

    /* position: absolute; */
    top: 0;
}

.star--1 {
    transform-origin: -20%;
    animation: rotation-1 3s cubic-bezier(.09,.86,.88,.44) alternate infinite;
}

.star--2 {
    transform-origin: 20%;
    animation: rotation-2 2s ease-in-out reverse infinite;
    
}

@keyframes rotation-1 {
    0%, 5% {
        transform: rotateZ(0);
    }
  
    95%, 100% {
        transform: rotateZ(1turn);
    }
}

@keyframes rotation-2 {
    0%, 5% {
        transform: rotateZ(0);
    }
  
    95%, 100% {
        transform: rotateZ(.5turn) ;
    }
}